body {
  background-color: #9fd3c7;
  font-family: "Rubik", sans-serif;
}
.container {
  background-color: #ececec;
  max-width: 600px;
  margin: 45px auto;
  padding: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
}
